{% load static %}
<!DOCTYPE html>
<html lang="ja-JP">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}ゼミ管理システム{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'semi_app/css/bootstrap.min.css' %}">
</head>
<body>
    <!-- ナビバー -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'semi_app:top' %}">ゼミ管理システム</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.get_username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="nav-item nav-link" href="{% url 'semi_app:password_change' %}">パスワードの変更</a>
                        </li>
                        <li>
                            <a class="nav-item nav-link" href="{% url 'semi_app:logout' %}">ログアウト</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'semi_app:add_semi' %}">ゼミ登録</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'semi_app:login' %}">ログイン</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'semi_app/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>