{% extends "semi_app/base.html" %}

{% block title %}登録確認 - ゼミ管理システム{% endblock %}

{% block content %}
    <h1>ゼミ登録確認</h1>
    <p>以下の内容でよろしいですか？</p>
    <dl class="row">
        <dt class="col-3">日時</dt>
        <dd class="col-9">{{ form.task_datetime.value }}</dd>
        <dt class="col-3">学部生人数</dt>
        <dd class="col-9">{{ form.bachelor_num.value }}</dd>
        <dt class="col-3">院生人数</dt>
        <dd class="col-9">{{ form.master_num.value }}</dd>
        <dt class="col-3">募集開始日時</dt>
        <dd class="col-9">{{ form.start_matching_datetime.value }}</dd>
    </dl>
    <form action="{% url 'semi_app:add_semi' %}" method="POST">
        {% for field in form %}
            {{ field.as_hidden }}
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="button btn-danger btn-lg" name="next" value="back">戻る</button>
        <button type="submit" class="button btn-primary btn-lg" name="next" value="create">登録</button>
    </form>
{% endblock %}