{% extends "matching/base.html" %}

{% block title %}参加 - マッチングシステム{% endblock %}

{% block content %}
    <h1>参加申し込み</h1>
    <p>以下の作業に参加しますか？</p>
    <dl class="row">
        <dt class="col-3">作業日時</dt>
        <dd class="col-9">{{ task_request.task_datetime }}</dd>
    </dl>
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" class="button btn-secondary btn-lg" name="btn" value="cancel">不参加</button>
        <button type="submit" class="button btn-primary btn-lg" name="btn" value="join">参加</button>
    </form>
{% endblock %}
